body{
	
font-family: "Helvetica", "Arial", fantasy;
	
color: #75ffe1;
	background-color: #590a0a;
	
text-shadow: 1px 1px #0b1630;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #0b1630;

}


td, th {
    
border: 1px solid #30000b;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #30000b;

}